<div class="worker-details-container">
  <div *ngIf="workerSignal()" class="flex flex-col">
    <!-- Estructura principal en pantallas pequeñas -->
    <div class="worker-header-complete">
      <div class="worker-header">
        <div class="worker-photo">
          <img
            *ngIf="
              workerSignal()?.gender === 'female' ||
              workerSignal()?.gender === 'other'
            "
            class="p-8 rounded-t-lg worker-photo-img"
            [src]="
              workerSignal()?.photo
                ? workerSignal()?.photo
                : 'https://avatar.iran.liara.run/public/54'
            "
            alt="Foto de {{ workerSignal()?.name }}"
          />
          <img
            *ngIf="workerSignal()?.gender === 'male'"
            class="p-8 rounded-t-lg worker-photo-img"
            [src]="
              workerSignal()?.photo
                ? workerSignal()?.photo
                : 'https://avatar.iran.liara.run/public/5'
            "
            alt="Foto de {{ workerSignal()?.name }}"
          />
        </div>
        <div class="worker-info">
          <h2 class="mt-2">{{ workerSignal()?.name }}</h2>
          <p class="mt-2">
            Ubicación:
            {{ workerSignal()?.city }}, {{ workerSignal()?.country }}
          </p>
          <p class="mt-2" *ngIf="stateAuth()">
            <strong>Teléfono:</strong> {{ workerSignal()?.phone }}
            <app-wa-button
              [phoneNumber]="workerSignal()?.phone"
            ></app-wa-button>
          </p>
        </div>
      </div>
      <div class="detalles mt-3 ml-2">
        <p class="mt-2">
          <strong>Especialidades:</strong>
          {{ removeHyphens(workerSignal()?.specialty) }}
        </p>
        <p class="mt-2">
          <strong>Máquinas que maneja:</strong>
          {{ removeHyphens(workerSignal()?.machines) }}
        </p>
        <p class="mt-2">
          <strong>Experiencia:</strong>
          {{ removeHyphens(workerSignal()?.experience) }}
        </p>
      </div>
    </div>
    <!-- Listado de comentarios -->
    <div class="worker-comments">
      <h3>Comentarios:</h3>
      <div *ngFor="let comment of paginatedComments" class="comment-box">
        <p><strong>Comentario:</strong> {{ comment.comment }}</p>
        <div class="stars flex flex-row">
          <ng-container *ngFor="let star of [].constructor(5); let i = index">
            <svg
              class="star-icon"
              [ngClass]="{
                'text-yellow-300': i < comment.score,
                'text-gray-200': i >= comment.score
              }"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 20"
            >
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
              />
            </svg>
          </ng-container>
        </div>
      </div>
      <button
        *ngIf="
          workerSignal()?.comments &&
          (workerSignal()?.comments)!.length >
            currentCommentPage * commentsPerPage
        "
        (click)="nextCommentsPage()"
        class="load-more-button"
      >
        Ver más comentarios
      </button>
    </div>

    <!-- Formulario para agregar un nuevo comentario -->
    <div class="add-comment-form">
      <h3>¿Trabajaste con {{ workerSignal()?.name }}? Deja tu comentario</h3>
      <form [formGroup]="commentForm" (ngSubmit)="addComment()">
        <div class="form-group">
          <textarea
            id="comment"
            formControlName="comment"
            placeholder="Escribe tu comentario..."
          ></textarea>
        </div>
        <div class="form-group">
          <label for="score">Calificación:</label>
          <input
            type="number"
            id="score"
            formControlName="score"
            min="1"
            max="5"
            placeholder="1 - 5"
          />
        </div>
        <button type="submit" [disabled]="commentForm.invalid">
          Agregar comentario
        </button>
      </form>
    </div>
  </div>
</div>
