<div
  class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 mb-5 mx-auto"
>
  <!-- Imagen del puesto -->
  <ng-container *ngIf="position()?.photo; else noPhoto">
    <img
      class="w-full h-48 object-cover rounded-t-lg"
      [src]="position()?.photo"
      alt="Imagen de {{ position()?.name }}"
    />
  </ng-container>

  <!-- Placeholder si no hay foto -->
  <ng-template #noPhoto> </ng-template>

  <!-- Detalles del puesto -->
  <div class="p-5">
    <!-- Título del puesto -->
    <h5
      class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white mb-2"
    >
      {{ position()?.name }}
    </h5>

    <!-- Especialidades y experiencia -->
    <p class="text-sm text-gray-500 dark:text-gray-400">
      <strong>Especialidades: </strong
      >{{ removeHyphens(position()?.specialty) }}
    </p>
    <p class="text-sm text-gray-500 dark:text-gray-400 mt-1">
      <strong>Experiencia: </strong>{{ position()?.experience }}
    </p>

    <!-- Ciudad y barrio -->
    <p class="text-sm text-gray-500 dark:text-gray-400 mt-1">
      <strong>Ubicación: </strong>{{ position()?.city }},
      {{ position()?.neighborhood }}
    </p>

    <!-- Tipo de pago -->
    <p class="text-sm text-gray-500 dark:text-gray-400 mt-1">
      <strong>Tipo de Pago: </strong>{{ position()?.typePayment | titlecase }}
    </p>

    <!-- Teléfono -->
    <p *ngIf="authState" class="text-sm text-gray-500 dark:text-gray-400 mt-1">
      <strong>Teléfono: </strong>{{ position()?.phone }}
    </p>
    <app-wa-button
      [phoneNumber]="position()?.phone"
      [messageToSend]="
        'Hola,%20Me%20interesa%20la%20posición%20de%20trabajo%20y%20quiero%20hacer%20contacto%20contigo%20!'
      "
    ></app-wa-button>
    <!-- Estado de la posición -->
    <div class="flex items-center justify-between mt-4">
      <span
        class="text-sm font-semibold"
        [ngClass]="{
          'text-green-500': position()?.statusPosition === 'activo',
          'text-red-500': position()?.statusPosition === 'inactivo'
        }"
      >
        {{ position()?.statusPosition === "activo" ? "Activo" : "Inactivo" }}
      </span>
      <!-- <button
        class="text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-4 py-2 focus:ring-4 focus:outline-none focus:ring-blue-300"
      >
        Aplicar
      </button> -->
    </div>
  </div>
</div>
