<h1 class="font-bold text-xl text-center">Tú perfil</h1>
<div *ngIf="!createProfileButtonValidation()" class="mt-3 ml-4">
  <button
    [routerLink]="['/auth/register']"
    class="w-64 text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
  >
    Crear perfil
  </button>
</div>
<div *ngIf="isLoadingPage(); else showWorkers" class="mt-3">
  <app-loading></app-loading>
</div>
<ng-template #showWorkers>
  <div class="worker" *ngIf="typeUser() == 'trabajadores'">
    <div class="worker-details-container">
      <button
        [routerLink]="['/works/profile/edit-worker', workerSignal()?.id]"
        class="w-64 text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
      >
        Editar perfil
      </button>
      <div *ngIf="workerSignal()?.average_score as userScore" class="mt-5 ml-4">
        <strong>Tu calificación:</strong>
        <app-starts-calification [rating]="userScore"></app-starts-calification>
      </div>
      <div *ngIf="workerSignal()" class="flex flex-col">
        <!-- Estructura principal en pantallas pequeñas -->
        <div class="worker-header-complete">
          <div class="worker-header">
            <div class="worker-photo">
              <img
                class="p-8 rounded-t-lg image"
                [src]="
                  workerSignal()?.photo
                    ? workerSignal()?.photo
                    : 'https://firebasestorage.googleapis.com/v0/b/tu-chamba-cf127.appspot.com/o/avatarMan.png?alt=media&token=0df1900c-9055-4310-8fd9-6486c922bf50'
                "
                alt="Foto de {{ workerSignal()?.name }}"
              />
            </div>
            <div class="worker-info">
              <h2 class="mt-2">{{ workerSignal()?.name }}</h2>
              <p class="mt-2">
                {{ workerSignal()?.city }}, {{ workerSignal()?.country }}
              </p>
              <p class="text-sm text-black-500 dark:text-black-400">
                <strong>Genero: </strong>
                {{ translateGender(workerSignal()?.gender) }}
              </p>
              <p class="mt-2">
                <strong>Teléfono:</strong> {{ workerSignal()?.phone }}
              </p>
            </div>
          </div>
          <div class="detalles mt-3 ml-2">
            <p class="mt-2">
              <strong>Especialidades:</strong>
              {{ removeHyphens(workerSignal()?.specialty) }}
            </p>
            <p class="mt-2">
              <strong>Máquinas que maneja:</strong>
              {{ removeHyphens(workerSignal()?.machines) }}
            </p>
            <p class="mt-2">
              <strong>Experiencia:</strong>
              {{ removeHyphens(workerSignal()?.experience) }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <app-own-publications
      [userId]="workerSignal()?.userId"
    ></app-own-publications>
  </div>

  <div
    class="business"
    *ngIf="typeUser() == 'satelite' || typeUser() == 'talleres'"
  >
    <div class="worker-details-container">
      <div *ngIf="businessSignal()" class="flex flex-col">
        <button
          type="button"
          [routerLink]="['/works/profile/edit-business', businessSignal()?.id]"
          class="w-64 text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >
          Editar perfil
        </button>
        <div
          *ngIf="businessSignal()?.average_score as userScore"
          class="mt-5 ml-4"
        >
          <strong>Tu calificación:</strong>
          <app-starts-calification
            [rating]="userScore"
          ></app-starts-calification>
        </div>
        <!-- Estructura principal en pantallas pequeñas -->
        <div class="worker-header-complete">
          <div class="worker-header">
            <div class="worker-photo">
              <img
                class="p-8 rounded-t-lg image"
                [src]="
                  businessSignal()?.photo
                    ? businessSignal()?.photo
                    : 'https://firebasestorage.googleapis.com/v0/b/tu-chamba-cf127.appspot.com/o/avatarMan.png?alt=media&token=0df1900c-9055-4310-8fd9-6486c922bf50'
                "
                alt="Foto de {{ businessSignal()?.name }}"
              />
            </div>
            <div class="worker-info">
              <h2 class="mt-2">{{ businessSignal()?.name }}</h2>
              <p class="text-sm text-black-500 dark:text-black-400">
                <strong>Responsable: </strong
                >{{ businessSignal()?.responsible }}
              </p>
              <p class="mt-2">
                {{ businessSignal()?.city }}, {{ businessSignal()?.country }}
              </p>
              <p class="text-sm text-black-500 dark:text-black-400">
                <strong>Ubicación: </strong>
                {{ businessSignal()?.neighborhood }}
              </p>
              <p class="mt-2">
                <strong>Teléfono:</strong> {{ businessSignal()?.phone }}
              </p>
            </div>
          </div>
          <div class="detalles mt-3 ml-2">
            <p class="mt-2">
              <strong>Especialidades:</strong>
              {{ removeHyphens(businessSignal()?.specialty) }}
            </p>
            <p class="mt-2">
              <strong>Máquinas que maneja:</strong>
              {{ removeHyphens(businessSignal()?.machines) }}
            </p>
            <p class="mt-2">
              <strong>Experiencia:</strong>
              {{ removeHyphens(businessSignal()?.experience) }}
            </p>
            <p class="text-black-500 dark:text-black-400 mb-3">
              <strong>Número colaboradores o empleados: </strong
              >{{ businessSignal()?.numberEmployees }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <app-own-publications
      [userId]="businessSignal()?.userId"
    ></app-own-publications>
  </div>
  <!-- Empresa profile -->
  <div class="empresa" *ngIf="typeUser() === 'empresa'">
    <app-profile-client
      [profileData]="empresaSignal()"
      [userType]="'empresa'"
      (searchWorkers)="onSearchWorkers()"
      (searchTalleres)="onSearchTalleres()"
      (editProfile)="onEditProfile($event)"
    ></app-profile-client>
    <app-own-publications
      [userId]="empresaSignal()?.userId"
    ></app-own-publications>
  </div>
  <!-- Natural person profile -->
  <div class="persona-natural" *ngIf="typeUser() === 'persona-natural'">
    <app-profile-client
      [profileData]="naturalPersonSignal()"
      [userType]="'personal-natural'"
      (editProfile)="onEditProfile($event)"
    ></app-profile-client>
    <app-own-publications
      [userId]="naturalPersonSignal()?.userId"
    ></app-own-publications>
  </div>
</ng-template>

<!-- ToDO: Sería ideal refactorizar este componente, creando un formato de presentacion que sirva para trabajadores y empresas y sea más facil
 mantener y editar este código -->
